<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>
                    <a class="btn pallete-popover" data-container="body" data-toggle="popover" data-placement="bottom">
                        <span class="glyphicon glyphicon-cog"></span> Themes    
                    </a>
                    </li>
                    <li>@Html.ActionLink("Themes List", "Index", "Themes")</li>
                </ul>


                <div id="pallete-content" class="hidden">
                    <ul class="nav navbar-nav themes-container">
                        <li><a href="#" class="glyphicon glyphicon-tint" data-theme="default" style="color:black"></a></li>
                        <li><a href="#" class="glyphicon glyphicon-tint" data-theme="/Content/Style1.css" style="color:blue"></a></li>
                        <li><a href="#" class="glyphicon glyphicon-tint" data-theme="/Content/Style2.css" style="color:yellow"></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/globaljs")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/custom/webpalette.js"></script>
    
</body>
</html>
