<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>
                    <a type="button" class="btn pallete-popover" data-container="body" data-toggle="popover" data-placement="bottom">
                        <span class="glyphicon glyphicon-cog"></span> Themes    
                    </a>
                    </li>
                </ul>


                <div id="pallete-content" class="hidden">
                    <ul class="nav navbar-nav">
                        <li><a href="#" onclick="removeel(document.getElementById('customcss'))"><span class="glyphicon glyphicon-tint"></span> </a></li>
                        <li><a href="#" onclick="changeWebTheme('/Content/Style1.css')"><span class="glyphicon glyphicon-tint" style="color:blue"></span> </a></li>
                        <li><a href="#" onclick="changeWebTheme('/Content/Style2.css')"><span class="glyphicon glyphicon-tint" style="color:yellow"></span> </a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        (function(){
            $(".pallete-popover").popover({
                html: true,
                content: function () {
                    return $("#pallete-content").html();
                },
            });
        })();

        document.addEventListener('click')
        function changeWebTheme(filename) {
            var x = document.getElementById("customcss");
            if (x !== null) {
                removeel(x);
            };
            var fileref = document.createElement("link");
            fileref.setAttribute("rel", "stylesheet");
            fileref.setAttribute("id", "customcss");
            fileref.setAttribute("type", "text/css");
            fileref.setAttribute("href", filename);
            document.getElementsByTagName("head")[0].appendChild(fileref);
        };

        function removeel(el) {
            el.parentNode.removeChild(el);
        }



    </script>
</body>
</html>
