<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>
                    <a type="button" class="btn pallete-popover" data-container="body" data-toggle="popover" data-placement="bottom">
                        <span class="glyphicon glyphicon-cog"></span> Themes    
                    </a>
                    </li>
                </ul>


                <div id="pallete-content" class="hidden">
                    <ul class="nav navbar-nav">
                        <li><a href="#" onclick="removeel(document.getElementById('customcss'))"><span class="glyphicon glyphicon-tint"></span> </a></li>
                        <li><a href="#" onclick="changeWebTheme('/Content/Style1.css')"><span class="glyphicon glyphicon-tint" style="color:blue"></span> </a></li>
                        <li><a href="#" onclick="changeWebTheme('/Content/Style2.css')"><span class="glyphicon glyphicon-tint" style="color:yellow"></span> </a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        (function(){
            $(".pallete-popover").popover({
                html: true,
                content: function () {
                    return $("#pallete-content").html();
                },
            });
        })();

        document.addEventListener('click')
        function changeWebTheme(filename) {
           
            var x = document.getElementById("customcss");
            if (x !== null) {
                removeel(x);
            };
            var fileref = document.createElement("link");
            fileref.setAttribute("rel", "stylesheet");
            fileref.setAttribute("id", "customcss");
            fileref.setAttribute("type", "text/css");
            fileref.setAttribute("href", filename);
            document.getElementsByTagName("head")[0].appendChild(fileref);
            setCookie('customcsspath', filename,365);
            console.log(getCookie('customcsspath'));
        };

        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        };

        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function removeel(el) {
            el.parentNode.removeChild(el);
            setCookie('customcsspath', '', -1);
        };

        function init() {
            var x = getCookie('customcsspath');
            if (x !== '') {
                changeWebTheme(x);
            }
        }

        $(document).ready(function () {
            init();
        })
        
        



    </script>
</body>
</html>
